In [6]:
import pandas as pd

In [23]:
list_a = [1,2,3,5,4,5,6,6,5,8,5,5,4]
df = pd.DataFrame({"a":list_a, "target":[0 if x<5 else 1 for x in list_a]})

In [24]:
df

    a  target
0   1       0
1   2       0
2   3       0
3   5       1
4   4       0
5   5       1
6   6       1
7   6       1
8   5       1
9   8       1
10  5       1
11  5       1
12  4       0

In [25]:
from xgboost import XGBClassifier
from sklearn.model_selection import train_test_split, cross_val_score

x_train =df["a"]
y_train=df["target"]

In [26]:
xgb_model = XGBClassifier(random_state=14)
xgb_model.fit(x_train, y_train)
xgb_model.score(x_train, y_train)

1.0

In [36]:
x_train_pred = pd.DataFrame(xgb_model.predict(x_train)).rename(columns={0: 'pred'})
x_train_proba = pd.DataFrame(xgb_model.predict_proba(x_train)).rename(columns={0: 'proba_0', 1:"proba_1"})
pd.concat([x_train, x_train_pred, x_train_proba], axis=1)

    a  pred   proba_0   proba_1
0   1     0  0.747578  0.252422
1   2     0  0.747578  0.252422
2   3     0  0.747578  0.252422
3   5     1  0.157764  0.842236
4   4     0  0.747578  0.252422
5   5     1  0.157764  0.842236
6   6     1  0.157764  0.842236
7   6     1  0.157764  0.842236
8   5     1  0.157764  0.842236
9   8     1  0.157764  0.842236
10  5     1  0.157764  0.842236
11  5     1  0.157764  0.842236
12  4     0  0.747578  0.252422

    a  pred
0   1     1
1   2     1
2   3     1
3   5     1
4   4     1
5   5     1
6   6     1
7   6     1
8   5     1
9   8     1
10  5     1
11  5     1
12  4     1